.help-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
  }
  

  section {
    margin-bottom: 40px;
  }
  
  .how-it-works-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .how-it-works-text {
    flex: 1;
  }
  .how-it-works-image
  {
    max-width: 70%;
  }
  
  .how-it-works-image img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 60%;
    margin: 0 auto;
  }
  .btn-submit{
    width: max-content;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-control::placeholder {
    color: #858585; /* Set your desired color here */
    opacity: 1; /* Ensures the color is applied in some browsers */
  }
  
  .btn-submit {
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-submit:hover {
    background-color: #218838;
  }
  

  
  .links-list {
    list-style-type: none;
    padding: 0;
  }
  
  .links-list li {
    margin-bottom: 10px;
  }
  
  .links-list a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .links-list a:hover {
    color: #0056b3;
  }
  


.btn-dark {
    background-color: #00ff3c;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.6); /* Glow effect */
  }
  
  .btn-submit:hover {
    background-color: #218838;
    box-shadow: 0 0 15px rgba(40, 167, 69, 0.8);
  }